{% extends 'base.html' %}

{% block body %}
<div class="row">
         <td><a href="{% url 'job-list' %}">
            <button type="button" class="btn btn-success">Manage Jobs</button>
        </a></td>
        <td><a href="{% url 'cluster-list' %}">
            <button type="button" class="btn btn-success">Add Cluster <span
                    class="glyphicon glyphicon-plus"></span></button>
        </a></td>
        <br><br><br>

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Clusters List</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 table-responsive">
                    {% if object_list %}
                        <table class="table table-striped ">
                            <tr>
                                <th style="max-width: 32em">Number</th>
                                <th>ID</th>
                                <th>Title</th>
                                <th>User</th>
                                <th>Host</th>
                                <th>Username</th>
                                <th>Description</th>
                                <th></th>
                                <th></th>
                            </tr>

                            {% for cluster in object_list %}

                                <tr>
                                    <td> {{ forloop.counter }} </td>
                                    <td>{{ cluster.id }}</td>
                                    <td>{{ cluster.title }}</td>
                                    <td>{{ cluster.user }}</td>
                                    <td>{{ cluster.host }}</td>
                                    <td>{{ cluster.username }}</td>
                                    <td>{{ cluster.description|truncatewords:10 }}</td>
                                    <td><a href="{% url 'cluster-list' %}">
                                        <button type="button" class="btn btn-success"><span
                                                class="glyphicon glyphicon-edit"></span></button>
                                    </a></td>
                                    <td><a href="{% url 'cluster-list' %}">
                                        <button type="button" class="btn btn-danger"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                    </a></td>
                            {% endfor %}

                        </table>
                    {% else %}
                        <div class="alert alert-info">
                            <strong>No Cluster!</strong> to add a cluster use 'Add Cluster' buttom.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}