{% extends 'base.html' %}

{% block body %}
<div class="row">
        <td><a href="{% url 'cluster-list' %}">
            <button type="button" class="btn btn-success">Manage Clusters</button>
        </a></td>
        <td><a href="{% url 'job-list' %}">
            <button type="button" class="btn btn-success">Add Job <span
                    class="glyphicon glyphicon-plus"></span></button>
        </a></td>
        <br><br><br>

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Jobs List</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 table-responsive">
                    {% if object_list %}
                        <table class="table table-striped ">
                            <tr>
                                <th style="max-width: 32em">Number</th>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Owner</th>
                                <th>Model File</th>
                                <th>Experiment File</th>
                                <th>Add Date</th>
                                <th></th>
                                <th></th>
                            </tr>

                            {% for job in object_list %}

                                <tr>
                                    <td> {{ forloop.counter }} </td>
                                    <td>{{ job.id }}</td>
                                    <td>{{ job.title }}</td>
                                    <td>{{ job.owner }}</td>
                                    <td>{{ job.model_file }}</td>
                                    <td>{{ job.experiment_file }}</td>
                                    <td>{{ job.add_date }}</td>
                                    <td><a href="{% url 'job-list' %}">
                                        <button type="button" class="btn btn-success"><span
                                                class="glyphicon glyphicon-edit"></span></button>
                                    </a></td>
                                    <td><a href="{% url 'job-list' %}">
                                        <button type="button" class="btn btn-danger"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                    </a></td>
                            {% endfor %}

                        </table>
                    {% else %}
                        <div class="alert alert-info">
                            <strong>No Job!</strong> to add a job use 'Add Job' buttom.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}